*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color:  aqua;
}

form{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(102, 113, 69);
}

legend{
    text-align: center;
    font-size: 20px;
}

hr{
    margin: 10px 0;
    background-color: rgb(238, 158, 158);
    border: 0;
    height: 1px;
}

label{
    margin-bottom: 6px;
}

input{
    margin-bottom: 5px;
    padding: 5px;
    outline: 0;
    border: 1px solid rgb(247, 207, 8);
}

input[type="submit"]{
    background-color: chartreuse;
    color: black;
    cursor: pointer;
}

p{
    text-align: center;
    margin: 5px ;
    font-size: 15px;
}

p a{
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
}